
    .jumbotron{
      background-image: url(‘img/pokedex-background.jpg’);
      background-size: cover;
      background-repeat: no-repeat;
      z-index: ;
     }

    #bg {
        z-index: -1;
          /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
  
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
        background-size: cover;
        background-color: var(--background-color);
        background-position: center;
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
      }
 
  
   .pokemon-list {
    list-style-type: none;
  }
  
  
  .button-class {
    margin-left: 100px;
    position: relative;
    width: 200px; height: 45px;
    background: #b0b0b0;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: color .3s;
    line-height: 30px;    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    border: 1.5px solid black;
    position: relative;
    top: 30px;
    left: 7%;
  }
  
  .button-class:after {
    position: absolute;
    top: 90%; left: 0;
    width: 100%; height: 100%;
    background: var(--hover-button-color);
    content: "";
    z-index: -2;
    transition: transform .3s;
  }
  
  .button-class:hover::after {
    transform: translateY(-80%);
    transition: transform .3s;
  }
 